$mainColor: #101319;
$secondaryColor: #2d3548;
$buttonBackground: #e54b74;
$textColorWhite: #fff;
$descSite: #506182;
$skillHeader: #d0deff;
$skillDescription: #acb6ce;
$aboutMe: #8c95ac;
$projectDesc: #757c90;
$projectCategory: #868ea4;
$gradientPink: #c043fb;
$gradientPinkSecond: #b60dba;
$gradientOrangeSecond: #f35e5e;
$gradientOrangeHover: #c23939;
