@use "./resources" as Res;
@use "./blobb/blob.scss";
@use "./navigation/navigation";
@use "./header/header.scss";
@use "./skills/mySkills";
@use "./aboutMe/aboutMe";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* {
    color: #fff;
}
a {
    text-decoration: none;
}
body {
    background-color: Res.$mainColor;
    font-family: "Carme", sans-serif;
}

.wrapper {
    margin-right: auto; 
    margin-left:  auto; 
    max-width: 1400px;
    padding-right: 10px;
    padding-left:  10px;
  }