@use "../resources" as Res;

.title_section {
    margin-top: 15%;

    span {
        background-image: linear-gradient(110deg, Res.$gradientOrangeSecond, Res.$gradientPinkSecond);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        font-weight: 700;
    }

    button {
        height: 4rem;
        width: 18rem;
        background-color: Res.$gradientOrangeSecond;
        border: none;

        a{
            color: Res.$textColorWhite;
            font-size: 1rem;
        }
    }
}
.welcome_title {
    color: Res.$textColorWhite;
    font-size: 5rem;
    font-weight: normal;
    white-space: pre-line;
    letter-spacing: -2px;
    line-height: 5rem * 1.1;
}
.welcome_desc {
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.5rem;
    color: Res.$descSite;
    white-space: pre-line;
    line-height: 1.5rem * 1.5;
}

