.blob_nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    opacity: 25%;
    filter: blur(10px);
    fill: url(#MyGradient);
    z-index: -1;
}
.blob_nav_sec {
    position: absolute;
    top: 30%;
    right: 0;
    width: 40%;
    opacity: 25%;
    filter: blur(10px);
    fill: url(#MyGradient);
    z-index: -1;
}
#blob_nav_sec path {
    animation: blob_nav_sec 10s linear 0.5s infinite normal;
}
#blob_nav path {
    animation: blob_nav 10s linear 0.5s infinite normal;
}

@keyframes blob_nav {
    0% {
        d: path("M23.2,-30.7C35.6,-17.3,54.9,-15.2,61.7,-6.5C68.5,2.3,62.8,17.6,53.1,27.1C43.4,36.6,29.7,40.3,18.3,40.1C6.8,39.9,-2.3,35.7,-18.7,36.3C-35.1,36.9,-58.8,42.3,-72.4,34.3C-85.9,26.3,-89.4,4.9,-85.4,-14.6C-81.4,-34,-69.8,-51.7,-54.3,-64.6C-38.8,-77.5,-19.4,-85.6,-7,-77.2C5.4,-68.9,10.8,-44.1,23.2,-30.7Z")
    }
    25% {
        d: path("M37.2,-39.1C48.9,-34.6,59.4,-23.5,57.6,-13.2C55.9,-2.9,41.9,6.6,32.6,15.3C23.4,24,18.9,31.9,11.5,36.9C4.1,41.9,-6.3,43.9,-13.6,40.1C-20.8,36.2,-24.9,26.5,-37.4,16.1C-50,5.8,-70.9,-5.2,-72.8,-16C-74.6,-26.7,-57.3,-37.2,-42,-41C-26.7,-44.8,-13.3,-41.9,-0.3,-41.6C12.8,-41.3,25.6,-43.5,37.2,-39.1Z")
    }
    50% {
        d: path("M46.9,-52.6C59.7,-45.1,68.3,-29.3,64.3,-16.6C60.2,-3.9,43.6,5.8,35.6,21.4C27.6,37,28.4,58.4,21.3,62.8C14.3,67.2,-0.5,54.5,-9.3,43.5C-18.1,32.5,-21,23.2,-26.3,14.8C-31.5,6.5,-39,-0.9,-41.5,-10.8C-43.9,-20.8,-41.2,-33.3,-33.4,-41.7C-25.7,-50.1,-12.8,-54.3,2.1,-56.8C17,-59.3,34.1,-60.1,46.9,-52.6Z")
    }
    75% {
        d: path("M54.9,-57.5C67.5,-54.9,71.4,-34.1,68.1,-17.3C64.7,-0.5,54,12.3,46.5,28.2C38.9,44.1,34.4,63.1,24.3,67C14.1,70.8,-1.6,59.3,-19.6,53.1C-37.5,46.9,-57.6,45.9,-68.8,35.4C-80,24.9,-82.3,5,-76,-10.4C-69.7,-25.8,-54.9,-36.8,-40.8,-39.1C-26.7,-41.4,-13.4,-35.1,3.9,-39.8C21.2,-44.5,42.4,-60.1,54.9,-57.5Z")
    }
    100% {
        d: path("M23.2,-30.7C35.6,-17.3,54.9,-15.2,61.7,-6.5C68.5,2.3,62.8,17.6,53.1,27.1C43.4,36.6,29.7,40.3,18.3,40.1C6.8,39.9,-2.3,35.7,-18.7,36.3C-35.1,36.9,-58.8,42.3,-72.4,34.3C-85.9,26.3,-89.4,4.9,-85.4,-14.6C-81.4,-34,-69.8,-51.7,-54.3,-64.6C-38.8,-77.5,-19.4,-85.6,-7,-77.2C5.4,-68.9,10.8,-44.1,23.2,-30.7Z")   
    }
}

@keyframes blob_nav_sec {
    0% {
        d: path("M31.4,-28.3C40.7,-22.1,48.3,-11,50,1.7C51.7,14.5,47.6,29,38.3,36.1C29,43.1,14.5,42.6,-3.2,45.8C-20.9,49,-41.9,55.9,-58.1,48.9C-74.4,41.9,-86,20.9,-85.5,0.4C-85.1,-20,-72.6,-40.1,-56.4,-46.3C-40.1,-52.5,-20,-44.8,-4.5,-40.3C11,-35.8,22.1,-34.5,31.4,-28.3Z")
    }
    25%{
        d:path("M33.1,-31.9C40.1,-26.1,41,-13.1,46.1,5.2C51.3,23.4,60.7,46.8,53.8,62.2C46.8,77.5,23.4,84.9,7,77.9C-9.4,70.9,-18.8,49.6,-34.8,34.2C-50.7,18.8,-73.2,9.4,-79.9,-6.6C-86.5,-22.7,-77.3,-45.4,-61.3,-51.2C-45.4,-56.9,-22.7,-45.8,-4.8,-41C13.1,-36.2,26.1,-37.7,33.1,-31.9Z")
    }
    50%{
        d:path("M40,-38.8C46.3,-33.6,42.3,-16.8,45.3,2.9C48.2,22.7,58.1,45.4,51.7,60.5C45.4,75.7,22.7,83.3,4.6,78.7C-13.5,74.1,-27.1,57.4,-33,42.2C-39,27.1,-37.4,13.5,-41.5,-4.1C-45.6,-21.7,-55.4,-43.5,-49.4,-48.7C-43.5,-54,-21.7,-42.9,-2.5,-40.4C16.8,-37.9,33.6,-44.1,40,-38.8Z")
    }
    75% {
        d:path("M38.7,-33.8C48.8,-28.6,54.7,-14.3,56,1.3C57.3,16.9,53.9,33.7,43.8,49C33.7,64.2,16.9,77.8,4.3,73.5C-8.3,69.2,-16.6,47.1,-27.2,31.9C-37.8,16.6,-50.5,8.3,-52.6,-2.1C-54.7,-12.5,-46,-24.9,-35.5,-30.1C-24.9,-35.2,-12.5,-33.1,0.9,-34C14.3,-34.9,28.6,-38.9,38.7,-33.8Z")
    }
    100% {
        d: path("M31.4,-28.3C40.7,-22.1,48.3,-11,50,1.7C51.7,14.5,47.6,29,38.3,36.1C29,43.1,14.5,42.6,-3.2,45.8C-20.9,49,-41.9,55.9,-58.1,48.9C-74.4,41.9,-86,20.9,-85.5,0.4C-85.1,-20,-72.6,-40.1,-56.4,-46.3C-40.1,-52.5,-20,-44.8,-4.5,-40.3C11,-35.8,22.1,-34.5,31.4,-28.3Z")
    }
}