@use "../resources" as Res;

@media (min-width: 320px){
    .aboutMe{
        margin-top: 4rem;
        padding: 0rem 1rem;
        .aboutMeBox {
            display: flex;
            flex-direction: column;
            h2 {
                margin-bottom: 1.5rem;
                font-weight: normal;
                opacity: 50%;
                font-size: 2rem;
            }
            p {
                font-size: 1rem;
                line-height: calc(100% * 1.5);
            }
        }
        img {
            display: none;
        }
    }
}

@media (min-width: 575px) {
    .aboutMeBox {
        h2 {
            opacity: 100% !important;
            background-image: linear-gradient(110deg, Res.$gradientOrangeSecond, Res.$gradientPinkSecond);
            background-size: 50%;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -webkit-text-fill-color: transparent; 
            -moz-text-fill-color: transparent;
        }
        p {
            font-size: 1.2rem;
        }
    }
}

@media (min-width: 760px) {
    .aboutMe {
        display: flex;
        gap: 2rem;
        img {
            display: block;
            background-color: white;
            width: 12rem;
            height: auto;
        }
    }
    .aboutMeBox {
        h2 {
            font-size: 2rem;
        }
    }
}

@media (min-width: 900px){
    .aboutMe {
        align-items: center;
        margin-top: 8rem;
        img {
            width: 17rem;
            height: auto;
        }
.aboutMeBox {
    p {
        font-size: 1.2rem;
    }
}
    }
}
@media (min-width: 1200px) {
    .aboutMe {
        img {
            width: 17.5rem;
        }
        .aboutMeBox {
            p {
                font-size: 1.35rem;
            }
   }
    }
}

@media (min-width: 1400px ) {
    .aboutMe {
        img {
            width: 24rem;
        }
    }
}