@use "../resources" as Res;

.navigation {
    position: fixed; 
    top: 0;
    left: 0; 
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1rem 2rem;
    margin-top: 1rem;
    font-size: 1rem;
    z-index: 1000;
    a {
        margin-left: 2rem;
        color: Res.$textColorWhite;
        transition: color 0.5s ease;
    }
    a:hover {
        color: Res.$aboutMe;
    }
    .toggle_btn {
        position: absolute;
        right: 2rem;
        top: 1rem;
        display: none;
    }
}

.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.5rem;
    width: 10rem;
    display: none;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
}
@media (max-width: 1400px) {
    .navigation {
        margin-top: 2rem;
        padding:0 2rem 0 2rem;
    }
}
@media (max-width: 950px) {
    .navigation {
        justify-content: space-between;
        padding: 1rem; 
        margin-top: 0.5rem;
        a {
            margin-left: 0;
        }
    }
    .dropdown_menu {
        top: 3.5rem;
    }
    .nav_links {
        display: none;
    }
    .toggle_btn {
        display: block !important;
        font-size: 1.7rem;
        color: Res.$textColorWhite;
        cursor: pointer;
    }
    .dropdown_menu.open {
        display: flex;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        top: 4rem;
        left: 2rem;
        width: unset;
        text-align: center;
        gap: 2.5rem;
    }
    .toggle_btn {
        font-size: 1.9rem;
    }
}
@media (max-width: 320px) {
    .dropdown_menu {
        right: 1rem;
    }
}