@use "../resources" as Res;

.mySkills {
    margin-top: 12rem;
    // background-color: red;

    h2 {
        position: relative;
        font-weight: normal;
        font-size: 2.5rem;
        margin-bottom: 5%;
    }
    h2::before {
        content: "";
        position: absolute;
        top: 120%;
        width: 6rem;
        left: 0;
        height: 5px;
        border-radius: 2px;
        background: linear-gradient(
          120deg,
          Res.$gradientOrangeSecond,
          Res.$gradientPinkSecond
        );
      }     
}
.mySkillsBox {
    display: grid;
    margin: 0 auto;
    max-width: 1400px;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit,minmax(26.5rem,1fr));
}
.skillBox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: Res.$secondaryColor;
    i {
        position: absolute;
        top: 20%;
        right: 15%;
        margin-bottom: 0.5rem;
        font-size: 7rem;
        color: Res.$mainColor;
        opacity: 25%;
    }

    h3{
        font-weight: normal;
        font-size: 1.5rem;
        margin-bottom: 1rem;
        z-index: 1;
    }
    p {
        line-height: calc(100% * 1.5);
        font-size: 1.2rem;
        opacity: 50%;
        z-index: 1;
    }
}

@media (max-width: 1400px ) {
    .mySkills {
        padding:0 1rem 0 1rem;
    }
    .mySkillsBox {
        row-gap: 3rem;
        grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    }
    .skillBox {
        h3 {
            font-size: 1.4rem;
        }
        p {
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 770px) {
    .mySkills {
        h2 {
            margin-bottom: 4rem;
            font-size: 2rem;
        }
    }
    .skillBox {
        i {
            font-size: 5rem;
            top: 50%;
            left: 75%;
            transform: translate(0, -50%);
        }
    }
}

@media (max-width: 460px) {
    .mySkillsBox {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .mySkills {
        margin-top: 6rem;
        padding: 0 1rem 0 1rem;
        h2 {
            font-size: 1.5rem;
            text-align: center;
            opacity: 75%;
        }
        h2::before {
            display: none;
        }
    }
    .skillBox {
        text-align: center;
        i {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 4rem;
        }
        h3{
            font-size: 1.2rem;
        }
        p {
            font-size: 0.90rem;
        }
    }
}

